/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Global Styles */
/* * {
  outline: 1px solid red;
} */

body {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid red; */
}

h1 {
  font-size: 40px;
  padding: 5px;
}

p {
  font-size: 18px;
}

article {
  margin: 5px 0;
}

/* navigation */

nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: aqua;
  padding: 10px 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  background-color: azure;
  margin: 0 10px;
}

/* header */

header {
  max-width: 85%;
  border: 1px dashed black;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  border: 1px solid black;
  background-color: beige;
}

section {
  width: 40%;
  border: 1px solid blueviolet;
  padding: 5px;
}

.first {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

article {
  width: 75%;
  margin: 10px 0;
  padding: 5px;
  background-color: cornflowerblue;
}

.first article {
  display: flex;
  background-color: thistle;
}

.first > :first-child {
  background-color: honeydew;
}

.first > :last-child {
  background-color: teal;
}

.first > :nth-child(2) {
  background-color: yellow;
}

.first > :nth-child(3) {
  background-color: dodgerblue;
}
